.boxnome{
    margin-top: 20px;
    margin-left: 9px;
    width: 250px;
}

.nome{
    margin-top: 20px;
}

.boxtelefone{
    margin-top: 20px;
    margin-left: 9px;
    width: 250px;
}

.telefone{
    margin-top: 20px;
}

.boxemail{
    margin-top: 20px;
    margin-left: 9px;
    width: 250px;
}
   
.email{
    margin-top: 20px; 
}

.selectAdultos{
    width: 250px;
}

.selectCriancas{
    width: 250px;
}

.botoes{
    margin-left: 75px;
    margin-top: 20px;
}