.pesquisa{
    height: 20px;
}


.SensorSalaJantar{
    background-color: rgb(83, 168, 83);
    height: 40px;
}

.SensorRececao{
    background-color: rgb(243, 189, 12);
    height: 40px;
}

.textSensorSalaJantar{
    font-size: 25px;
    color:black;
    margin-top: 1px;
}

.textSensorRececao{
    font-size: 25px;
    color:black;
    margin-top: 1px;
}

.botao{
    margin-left: 100px;
    margin-top: 60px;
}

.info1{
    margin-left: 10px;
}

.info2{
    margin-left: 10px;
}