.pesquisa{
    height: 20px;

}

.quartos{
    margin-left: 20px;
}

.estadoQuarto1{
    background-color: rgb(83, 168, 83);
    height: 40px;
}

.estadoQuarto2{
    background-color: rgb(243, 95, 95);
    height: 40px;
}

.estadoQuarto3{
    background-color: rgb(83, 168, 83);
    height: 40px;
}

.Quarto1{
    font-size: 25px;
    color:black;
    margin-top: 1px;
}

.Quarto2{
    font-size: 25px;
    color:black;
    margin-top: 1px;
}

.Quarto3{
    font-size: 25px;
    color:black;
    margin-top: 1px;
}

.calendario{
    background-color: white;
    width: 600px;
    height: 50px;
}




